### PHP storm/ IntelliJ ###
.idea
.idea/*
.idea/workspace.xml
atlassian-ide-plugin.xml
.settings
*.iml

### vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

### Emacs ###
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*

/node_modules/
