/* All */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}




/* Custom properties */
:root {
  --border-thickness: 2px;
  --color-gray-100: #ffffff;
  --color-gray-200: #eaeaea;
  --color-gray-300: #afafaf;
  --color-gray-400: #aeaeae;
  --color-gray-500: #949494;
  --color-gray-600: #818181;
  --color-gray-700: #6a6a6a;
  --color-gray-800: #3f3f3f;
  --color-gray-900: #2c2c2c;
  --color-red-100: #FFE4D6;
  --color-red-200: #FFC3AD;
  --color-red-300: #FF9B83;
  --color-red-400: #FF7565;
  --color-red-500: #FF3632;
  --color-red-600: #DB2430;
  --color-red-700: #B71931;
  --color-red-800: #930F2F;
  --color-red-900: #7A092E;
  --color-yellow-100: #FFFACC;
  --color-yellow-200: #FEEBB1;
  --color-yellow-300: #FEDD89;
  --color-yellow-400: #FDCF6C;
  --color-yellow-500: #FCB93C;
  --color-yellow-600: #D8962B;
  --color-yellow-700: #B5751E;
  --color-yellow-800: #925813;
  --color-yellow-900: #78430B;
  --typeface-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --line-height-100: 1.1;
  --line-height-200: 1.3;
  --line-height-300: 1.5;
  --line-height-400: 1.75;
  --line-height-500: 2;
  --vertical-rhythm: 1.5rem;
}




/* Core */
html {
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  text-size-adjust: 100%;

  hanging-punctuation: first;

  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

html {
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
    font-smoothing: subpixel-antialiased;
  }
}

html {
  @-ms-viewport {
    width: device-width;
  }
}

body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-800);
  font-family: var(--typeface-primary);
  font-size: 120%;
  line-height: var(--line-height-300);
  min-height: 100%;
}

h2,
h3 {
  color: var(--color-gray-900);
  line-height: var(--line-height-200);
  font-weight: 400;
}

h2 {
  font-size: 1.75rem;
  margin-top: calc(var(--vertical-rhythm) * 2);
}

h3 {
  font-size: 1.5rem;
  margin-top: calc(var(--vertical-rhythm) * 2);
}

p {
  margin-top: var(--vertical-rhythm);
}

ul {
  margin-top: var(--vertical-rhythm);
  margin-left: 2rem;
}

ol {
  margin-top: var(--vertical-rhythm);
  margin-left: 3rem;
}

li {
  margin-top: calc(var(--vertical-rhythm) / 2);
}

blockquote {
  margin-top: var(--vertical-rhythm);
}

a {
  color: var(--color-red-700);
}

a:hover,
a:focus {
  background-color: var(--color-red-100);
  text-decoration: none;
}




/* Utilities */
.text-align-center {
  text-align: center;
}

.container {
  max-width: 62ch;
  margin: 0 auto;
  padding: 1rem;
}


/* Layout */
.header {
  background-color: var(--color-gray-900);
  padding: 3.5rem 2rem;
}

.in-their-own-words,
.further-reading {
  margin-top: calc(var(--vertical-rhythm) * 2);
  padding: 0 2rem 4rem 2rem;
}

.quotes {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@supports (display: grid) {
  .quotes {
    margin-top: var(--vertical-rhythm);
  }
}

@media screen and (min-width: 60rem) {
  .quotes {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width: 80rem) {
  .quotes {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.in-their-own-words {
  background-color: var(--color-red-100);
}

.further-reading {
  background-color: var(--color-gray-200);
}




/* Content */
.logo {
  fill: var(--color-red-400);
  height: 6rem;
  width: 6rem;
}

.title {
  color: var(--color-gray-100);
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 0.05ch;
  margin-top: 0.5rem;
}

.summary {
  border: var(--border-thickness) solid var(--color-yellow-200);
  background-color: var(--color-yellow-100);
  font-size: 1.15rem;
  padding: var(--vertical-rhythm) calc(var(--vertical-rhythm) * 1.5);
}

.conformance-quote {
  background-color: var(--color-gray-200);
  font-size: 1.3rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  padding: 2rem;
}

.conformance-quote cite {
  display: block;
  font-size: 1.25rem;
  font-style: normal;
  margin-top: 0.5rem;
}

.quote {
  background-color: var(--color-gray-100);
  border: var(--border-thickness) solid var(--color-red-200);
  border-radius: 0.5rem;
  margin-top: calc(var(--vertical-rhythm) * 2);
  padding: 2rem;
}

@supports (display: grid) {
  .quote {
    margin-top: 0;
  }
}

.quote cite {
  font-style: normal;;
  display: block;
  margin-top: 0.5rem;
}

.further-reading-source {
  display: block;
  font-size: 1rem;
}




/* Dark mode */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--color-gray-900);
    color: var(--color-gray-200);
  }

  h2,
  h3 {
    color: var(--color-gray-100);
  }

  a {
    color: var(--color-red-300);
  }

  a:hover,
  a:focus {
    background: var(--color-red-900);
  }

  .header {
    background-color: var(--color-gray-100);
  }

  .title {
    color: var(--color-gray-800);
  }

  .conformance-quote {
    background-color: var(--color-gray-800);
  }

  .summary {
    color: var(--color-gray-900);
  }

  .in-their-own-words {
    background-color: var(--color-red-900);
  }

  .quote {
    background-color: var(--color-gray-900);
    border: var(--border-thickness) solid var(--color-red-800);
    border-radius: 0.5rem;
    margin-top: calc(var(--vertical-rhythm) * 2);
    padding: 2rem;
  }

  .further-reading {
    background-color: var(--color-gray-800);
  }
}
