/* All */
*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}



/* Custom properties */
:root {
  --color-gray-100: #ffffff;
  --color-gray-200: #d3d3d3;
  --color-gray-300: #afafaf;
  --color-gray-400: #aeaeae;
  --color-gray-500: #949494;
  --color-gray-600: #818181;
  --color-gray-700: #6a6a6a;
  --color-gray-800: #6a6a6a;
  --color-gray-900: #3f3f3f;
  --color-blue-100: #D6E4FF;
  --color-blue-200; #ADC8FF;
  --color-blue-300; #84A9FF;
  --color-blue-400; #6690FF;
  --color-blue-500; #3366FF;
  --color-blue-600; #254EDB;
  --color-blue-700; #1939B7;
  --color-blue-800; #102693;
  --color-blue-900; #091A7A;
  --typeface-primary: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --line-height-100: 1.1;
  --line-height-200: 1.3;
  --line-height-300: 1.5;
  --line-height-400: 1.75;
  --line-height-500: 2;
}



/* Core */
html {
  margin: 0;
  min-height: 100%;
  overflow-y: scroll;
  padding: 0;
  text-size-adjust: 100%;

  hanging-punctuation: first;
  hyphens: auto;
  word-break: break-word;

  -ms-overflow-style: scrollbar;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  font-kerning: normal;
  -moz-font-feature-settings: "kern";
  -ms-font-feature-settings: "kern";
  -webkit-font-feature-settings: "kern";
  font-feature-settings: "kern";
}

html {
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 2dppx) {
    font-smoothing: subpixel-antialiased;
  }
}

html {
  @-ms-viewport {
    width: device-width;
  }
}

body {
  background-color: var(--color-gray-100);
  color: var(--color-gray-900);
  font-family: var(--typeface-primary);
  font-size: 125%;
  line-height: var(--line-height-300);
  min-height: 100%;
}




/* Content */
